@model TMDContactsClient.Models.Contacts
@{
    ViewBag.Title = "Profiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Profile {
        vertical-align: middle;
        width: 130px;
        height: 130px;
        border-radius: 50%;
    }
</style>


<div class="card card-1">
    <div class="modal-header" style="border: 0;">
        <a href="~/Contact/Index" class="close" data-dismiss="modal" style="color:red;" role="button">&times;</a>
        <div class="row" style="padding-top: 16px;">
            <div class="text-center form-group col-md-12">

                @if (Model.Photo == null || Model.Photo == "")
                {
                    <img src="~/İmage/ProfilePhoto.png" class="Profile" />
                }
                else
                {
                    <img src="data:image/png;base64, @Html.DisplayFor(m => m.Photo)" alt="@Html.DisplayFor(m => m.Name)  @Html.DisplayFor(m => m.Surname)" class="Profile">

                }
            </div>
        </div>
    </div>
    <form method="post" action="javascript:btnDelete;">

        <div style="padding-left:30px; padding-right:30px; padding-top:30px;">
            <!-- Display errors if any in the Bootstrap alert -->
            <div id="divError" class="alert alert-danger collapse text-center">
                <a id="linkClose2" href="#" class="close">&times;</a>
                <div id="divErrorText"></div>
            </div>
            <div class="text-center">
                <span id="error"></span>
            </div>
        </div>

        <div class="col-md-12" style="padding-top:22px;">
            <input type="hidden" asp-for="Id" name="Id" />
            <div class="col-md-6">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 Font" style="font-size:17px;">Ad</h6>
                        </div>
                        <div class="col-sm-9 text-secondary" style="padding-top:8px;">
                            @Html.DisplayFor(m => m.Name)
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 Font" style="font-size:17px;">Soyad</h6>
                        </div>
                        <div class="col-sm-9 text-secondary" style="padding-top:8px;">
                            @Html.DisplayFor(m => m.Surname)
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 Font" style="font-size:17px;">E-Posta</h6>
                        </div>
                        <div class="col-sm-9 text-secondary" style="padding-top:8px;">
                            @Html.DisplayFor(m => m.Email)
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 Font" style="font-size:17px;">Tel</h6>
                        </div>
                        <div class="col-sm-9 text-secondary" style="padding-top:8px;">
                            @Html.DisplayFor(m => m.Tel)
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 Font" style="font-size:17px;">İş Tel</h6>
                        </div>
                        <div class="col-sm-9 text-secondary" style="padding-top:8px;">
                            @Html.DisplayFor(m => m.TelBusiness)
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 Font" style="font-size:17px;">Ev Tel</h6>
                        </div>
                        <div class="col-sm-9 text-secondary" style="padding-top:8px;">
                            @Html.DisplayFor(m => m.TelHome)
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 Font" style="font-size:17px;">Başlık</h6>
                        </div>
                        <div class="col-sm-9 text-secondary" style="padding-top:8px;">
                            @Html.DisplayFor(m => m.Title)
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 Font" style="font-size:17px;">Şirket</h6>
                        </div>
                        <div class="col-sm-9 text-secondary" style="padding-top:8px;">
                            @Html.DisplayFor(m => m.Company)
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 Font" style="font-size:17px;">Not</h6>
                        </div>
                        <div class="col-sm-9 text-secondary" style="padding-top:8px;">
                            @Html.DisplayFor(m => m.Note)
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 Font" style="font-size:17px;">Doğum Tarihi</h6>
                        </div>
                        <div class="col-sm-9 text-secondary" style="padding-top:8px;">
                            @Html.DisplayFor(m => m.BirthDate)
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0 Font" style="font-size:17px;">Adres</h6>
                        </div>
                        <div class="col-sm-9 text-secondary" style="padding-top:8px;">
                            @Html.DisplayFor(m => m.Address)
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="~/Group/AddToGroup/@Html.DisplayFor(m => m.Id)" class=" btn bn30" style="text-align:center; font-size:8px;" role="button">
                <i class="bi bi-person-plus-fill"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                </svg>
            </a>
            <a href="~/Contact/Update/@Html.DisplayFor(m => m.Id)" class="btn bn30" style="text-align:center; font-size:8px;" role="button">
                <i class="bi bi-pencil-square"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>
            </a>
            <a id="btnDelete" class=" btn bn30" style="text-align:center;font-size:8px;" role="button">
                <i class="bi bi-trash-fill"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                </svg>
            </a>
        </div>
    </form>
</div>


<script>

    $("#btnDelete").click(function () {
        if (confirm("Silmek istediğinizden emin misiniz?")) {

            var info = new Object();
            info.Id = @Html.DisplayFor(m => m.Id);

            Token = 'Bearer ' + sessionStorage.getItem('Token');


            if (info.Name === "") {
                alert("Zorunlu alanları doldurunuz");
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "http://tmdcontacts-api.dev.tmd/api/Contacts/Delete?id=" + info.Id,
                    data: JSON.stringify(info),

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    headers: {
                        'Authorization': Token
                    },
                    success: function (response) {
                        document.location.href = "/Contact/Index";
                    },
                    error: function (response) {
                        $('.alert-danger').hide();
                        $('#divErrorText').text(response.responseJSON.message);
                        $('#divError').show('fade');
                    }
                    //success: function (response) {
                    //    if (response.success) {
                    //        alert(response.responseText);
                    //    } else {
                    //        // DoSomethingElse()
                    //        alert(response.responseText);
                    //    }
                    //},
                    //error: function (response) {
                    //    if (response.success) {

                    //        alert(response.responseText);
                    //        document.location.href = "/Contact/Index";

                    //    } else {
                    //        alert(response.responseText);
                    //        document.location.href = "/Contact/Index";
                    //    }
                    //}
                });
            }
            return true;
        }
        return false;
    });



    //Image modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>